<% provide(:title, "About") %>
<h1>&Uuml;ber die Umweltdenker</h1>
<p>
  Die Umweltdenker sind ein j&auml;hrlich stattfindendes Projekt der Oberösterreichischen PfadfinderInnen.
  Teilnehmende Pfadfinder-Gruppen besch&auml;ftigen sich dabei mit den Themen Umweltschutz, Nachhaltigkeit, Ressourcenschonung, Recycling und Klimaschutz.


  <h3>Fotocredits</h3>
  <ul>
    <li>Icon Mistkübel: <a href="https://www.flaticon.com/free-icons/trash" title="trash icons">Trash icons created by Freepik - Flaticon</a></li>
    <li>Icon Energie-Blitz: <a href="https://www.flaticon.com/free-icons/flash" title="flash icons">Flash icons created by Dreamstale - Flaticon</a></li>
    <li>Icon Ernährung: <a href="https://www.flaticon.com/free-icons/restaurant" title="restaurant icons">Restaurant icons created by Freepik - Flaticon</a></li>
    <li>Icon Verkehr: <a href="https://www.flaticon.com/free-icons/traffic" title="traffic icons">Traffic icons created by Freepik - Flaticon</a></li>
    <li>Icon Wasser: <a href="https://www.flaticon.com/free-icons/water" title="water icons">Water icons created by Freepik - Flaticon</a></li>
  </ul>
</p>
