<% provide(:title, "About") %>
<h1>&Uuml;ber die Umweltdenker</h1>
<p>
  Die Umweltdenker sind ein j&auml;hrlich stattfindendes Projekt der Oberösterreichischen PfadfinderInnen.
  Teilnehmende Pfadfinder-Gruppen besch&auml;ftigen sich dabei mit den Themen Umweltschutz, Nachhaltigkeit, Ressourcenschonung, Recycling und Klimaschutz.
</p>
