<% provide(:title, "Contact") %>
<h1>Kontakt</h1>
<p>
  <ul>
    <li>Fragen zu Umweltdenker und dem Projekt 2022: <a href="mailto:umweltdenker@ooe.pfadfinder.at">umweltdenker@ooe.pfadfinder.at</a></li>
    <li>Technische Probleme mit der Plattform: <a href="mailto:christian.wirth@ooe.pfadfinder.at">christian.wirth@ooe.pfadfinder.at</a></li>
  </ul>
</p>

<h1>Impressum</h1>
Oberösterreichische Pfadfinderinnen und Pfadfinder<br />
Brucknerstraße 20<br />
4020 Linz<br />
Tel: +43 732  66 42 45<br />
