<% provide(:title, "Contact") %>
<h1>Kontakt</h1>
<p>
  <ul>
    <li>Fragen zu Umweltdenker und dem Projekt 2022: <a href="mailto:umweltdenker@ooe.pfadfinder.at">umweltdenker@ooe.pfadfinder.at</a></li>
    <li>Technische Probleme mit der Plattform: <a href="mailto:christian.wirth@ooe.pfadfinder.at">christian.wirth@ooe.pfadfinder.at</a></li>
  </ul>
</p>
