<% provide(:title, "Help") %>
<h1>Hilfe zum Umweltdenker-Projekt 2022-2023</h1>

<p>Wir werden hier häufig gestellte Fragen zum Umweltdenker-Projekt 2022-2023 beantworten.
Wenn deine Frage hier noch nicht gestellt und beantwortet wird, schreib uns doch bitte an
<a href="mailto:umweltdenker@ooe.pfadfinder.at">umweltdenker@ooe.pfadfinder.at</a>.
Wir versuchen dir sobald wie möglich zu helfen!</p>

<h2>Challenges</h2>
<ul>
  <li>
    <strong>Kann ich eine Challenge mehrfach eintragen?</strong><br/>
    Du kannst eine Challenge eigentlich nur einmal abschließen.
    Wenn du aber willst, und dein Beitrag wirklich so groß ist, kannst du weitere Einsparungen oder Leistungen als neuen <i>Beitrag</i> melden.
  </li>
  <li>
    <strong>Was ist der Unterschied zwischen einem Beitrag und einer Challenge?</strong><br/>
    Jede Challenge ist auch ein Beitrag!
    Eine Challenge ist aber ein ganz konkreter Vorschlag, was du tun kannst, um dem Klima zu helfen.
    Außerdem ist die Erledigung von Challenges ein wichtiger Schritt für deine Gruppe, um die Teilnahmeprämie zu erhalten.
  </li>
</ul>

<h2>Beiträge</h2>
<ul>
  <li>
    <strong>Wie genau muss ich die Einsparung/die Leistung messen?</strong><br/>
    So genau es dir möglich ist!
    In vielen Fällen wirst du deinen Beitrag nicht ganz exakt messen können.
    Dann bitten wir dich, so gut es geht abzuschätzen, wieviel du beigetragen oder eingespart hast.
    Das KLIMA dankt dir, auch wenn das hier eingetragene Ergebnis nicht ganz exakt ist.
    Hilf uns, deine Abschätzung zu verstehen, indem du sie in der Textbox &quot;Beschreibung&quot; erklärst! 
  </li>

    <li>
    <strong>In welcher Einheit sind die Beitr&auml;ge/Challenges einzutragen?</strong><br/>
    Dies ist je nach Kategorie unterschiedlich.
    In den meisten F&auml;llen wird <i>Kilogramm CO<sub>2</sub></i> erwartet (Energie, Verkehr, Wasser, Ern&auml;hrung).
    Nur in der Kategorie Abfall wird in <i>Kilogramm</i> (eingesparer, recycleter) Abfall eingetragen.
  </li>
</ul>
