<% provide(:title, "Help") %>
<h1>Hilfe zum Umweldenker-Projekt 2022</h1>
<p>
  <ul>
    <li>
      <strong>Wie kann ich .... ?</strong><br/>
      So geht das ....
    </li>
    <li>
      <strong>Wie kann ich .... ?</strong><br/>
      So geht das ....
    </li>
  </ul>
</p>
