<% provide(:title, "Datenschutz") %>
<h1>Datenschutz</h1>
<p>
  Auf dieser Plattform werden freiwillig eingegebene Daten verarbeitet und gespeichert.
  Grundsatz ist, nur notwendige Daten zu erheben.
  Durch Eingabe auf diese Plattform stimmt der/die Benutzer zu, diese Daten hier in diesem Portal für die Dauer des Umweltdenker-2022-Projektes zu verarbeiten und zu speichern.
  Die Daten können in anonymisierter Weise und/oder nach Rückfrage mit dem Benutzer auch für Aktionen und Veröffentlichungen der OÖ PfadfinderInnen im Rahmen von Umweltdenker 2022 verwendet werden.

  <h3>Personenbezogene Daten (Benutzeraccount)</h3>
  Die Anzahl der personenbezogenen Daten eines Benutzeraccounts ist limitiert auf E-Mail-Adresse, Vorname und Nachname sowie die zugehörige PfadfinderInnen-Gruppe.
  Öffentlich sichtbar sind davon nur Vorname und Gruppe; E-Mail-Adresse und Nachname werden nicht öffentlich angezeigt.

  <h3>Daten eines Beitrags</h3>
  Für einen Beitrag werden, neben dem jeweiligen Benuteraccount, einige allgemeine Datensätze erhoben: Titel, Beschreibung, quantitativ messbarer Beitrag, etc.
  Diese sind ansich nicht personenbezogen, wohl aber dem jeweils eingebendem Benutzeraccount zuordenbar.
  Die Daten werden nur teilanonymisiert veröffentlicht, d.h. höchstens unter Nennung von Vorname und PfadfinderInnen-Gruppe. 

  <h3>Tracking, Analytics, Werbung, etc.</h3>
  Es werden keine dieser Daten erhoben oder gespeichert.
  Ein Session-Cookie wird für das Login genutzt - dies ist technisch notwendig, und erlaubt nicht mehr als zu wissen welcher Benutzer eingeloggt ist.
  Darüber hinaus werden keine Daten erhoben.

  <h3>Speicherort</h3>
  Das Portal läuft auf einem Server von <a href="https://www.heroku.com">heroku.com</a>.
  Der Datenspeicher- und Verarbeitungsort ist innerhalb der EU.
</p>
