<h1>Umweltdenker 2022</h1>
<p>Hallo <%= @user.firstname %>,</p>
<p>
Willkommen im Portal der Umweltdenker 2022! Bitte klicke auf diesen Link um deinen Benutzeraccount zu aktivieren:
</p>
<%= link_to "Aktivieren", edit_account_activation_url(@user.activation_token, email: @user.email) %>
<p>
Vielen Dank,<br />
Umweltdenker 2022<br />
Oberösterreichische Pfadfinderinnen und Pfadfinder
</p>
