<h1>Kennwort zurücksetzen</h1>
<p>Um dein Kennwort für die Umweltdenker 2022 zurückzusetzen, klicke bitte auf diesen Link:</p>
<%= link_to "Kennwort zurücksetzen", edit_password_reset_url(@user.reset_token,
email: @user.email) %>
<p>Dieser Link wird in 2 Stunden ungültig.</p>
<p>
Wenn du keine Kennwortänderung angefordert hast, dann ignoriere bitte dieses E-Mail. Dein Kennwort bleibt dann so wie bisher.
</p>