<h3><%= challenge.title %></h3>

  <strong>Kategorie</strong>: <%= challenge.category.title %><br />
  <strong>Beschreibung</strong>: <%= challenge.description %><br />
  <strong>Aufgabe</strong>: <%= challenge.submission %><br />
