<footer class="footer">
  <small>
    Umweltdenker &copy; 2022 <a href="http://ooe.pfadfinder.at/">O&Ouml; PfadfinderInnen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über Umweltdenker", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>